.profile__subtitle {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .pprofile__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}
